html,
body {
  /* #fe4a49, #2ab7ca, #fed766, #e6e6ea, #f4f4f8 */
  --color1: #fe4a49;
  --color2: #fed766;
  --color2b: #f9db7f;
  --color3: #e6e6ea;
  --color4: #f4f4f8;
  --color5: #2ab7ca;
  --color5b: #5ebac6;

  background-color: var(--color5b);
  margin: 0
}


header {
  text-align: center;
  margin: 0;
  height: 10rem;
  background-color: var(--color2b);
}

header h1 {
  padding-top: 3rem;
  margin: 0
}

table {
  margin: 10% auto;
  padding: 3rem;
  background-color: var(--color2b);
  border-radius: 4px;
}

td {
  padding: 1.5rem;
  font-size: 1.8rem;
}